<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            everything belongs to <a href='https://www.shoryuken.com' target="_blank">SRK</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>